body {
margin: 40px;
font-family: verdana, tahoma, "Trebuchet MS", helvetica, sans-serif;
}

h1, h2, h3, h4 {
font-family: georgia, serif;
}

h1.title {
  display:none;
}

h2 {
color:#2e501f;
margin-top: 0;
}

img {
  width:100%;
}

p {
  margin-top: 0;
  margin-bottom: 18px;
  border: 1px solid green;
  padding:20px;
}

.first {
  background-color: #2e501f;
  border:0;
  color:white;
  font-size: 1.2em;
  line-height: 1.4;

}

ul {
}

.everything {
margin:0 auto;
display:flex;
justify-content: center;
flex-wrap: wrap;
flex-direction: row;
}

.cover, .intro {
  margin: 0 30px;
  flex: 0 1 400px;
}
