body {
margin: 100px 0 0 0;
font-family: verdana, tahoma, "Trebuchet MS", helvetica, sans-serif;
}

h1, h2, h3, h4 {
font-family: georgia, serif;
}

h1.title {
text-align: center;
background-color: rgba(7, 77, 52, 0.89);
color:white;
padding: 25px 0;
margin: 0 0;
position: fixed;
top: 0;
width:100%;
}

h2 {
color:#2e501f;
margin-top: 0;
}

img {
  width:100%;
}

p {
  margin-top: 0;
  margin-bottom: 18px;
  border: 1px solid green;
  padding:20px;
}

.first {
  background-color: #2e501f;
  border:0;
  color:white;
  font-size: 1.2em;
  line-height: 1.4;

}

ul {
}

.everything {
/* border: 2px solid purple; */
width: 60%;
margin:0 auto;
/* max-width: 600px; */
}

.cover {
/* border: 1px solid green; */
/* float:left;
width:48%; */
}

.intro {
/* width:48%;
float:right; */
/* border: 1px solid red; */
}

@media screen and (max-width:800px) {

.cover {
float:none;
width:auto;
}

.intro {
  float:none;
  width:auto;
}

}
